CLAMAV_HOST=localhost
S3_ENDPOINT=http://localhost:4566
S3_REGION=eu-west-1
S3_ACCESS_KEY_ID=123
S3_SECRET_ACCESS_KEY=432
S3_BUCKET_NAME=file-upload-service
MAX_FILE_SIZE=104857600
LOGTO_JWK_ENDPOINT=http://localhost:3301/oidc/jwks
LOGTO_OIDC_ENDPOINT=http://localhost:3301/oidc
LOGTO_API_RESOURCE_INDICATOR=http://localhost:8001/
HOST=http://localhost:8008
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=upload
LOGTO_M2M_SCHEDULER_APP_SECRET=scheduler_writer_local_secret
LOGTO_M2M_SCHEDULER_APP_ID=bjd8knt92hxslvrfyezp7
PROFILE_BACKEND_URL=http://localhost:8003
SCHEDULER_BACKEND_URL=http://localhost:8005
SCHEDULED_JOBS_HOURS_INTERVAL=5
ORGANIZATION_ID=ogcio

# Analytics
LOGTO_M2M_ANALYTICS_APP_SECRET=m2m_analytics_api_local_secret
LOGTO_M2M_ANALYTICS_APP_ID=03emabp0dwznxw414mxme
LOGTO_M2M_ANALYTICS_ORGANIZATION_ID=ogcio
LOGTO_M2M_ANALYTICS_SCOPES=analytics:website:tracking
ANALYTICS_WEBSITE_ID=8246ffa2-63d4-4680-1cc6-0106352f185f
ANALYTICS_URL=http://localhost:8075
ANALYTICS_MATOMO_TOKEN=
ANALYTICS_DRY_RUN=true

# Observability
OTEL_LOG_LEVEL=ERROR
OTEL_SERVER_SERVICE_NAME=upload-api-server
OTEL_COLLECTOR_URL=http://localhost:44317

# Rate Limiting
# Optional: Maximum number of uploads allowed per IP address per minute, defaults to 250 if not set
# UPLOAD_LIMIT_PER_IP_PER_MINUTE=250

MAX_SUPPORT_FILE_SIZE_MB=1024

# Optional: set to false to disable the ClamAV scan on upload, defaults to true if not set
ANTIVIRUS_SCAN_ENABLED=true

# Upload Size Chunks Fine Tuning
CLAMAV_CHUNKS_NUMBER=4
CLAMAV_CHUNK_SIZE_KB=128
S3_CHUNKS_NUMBER=4
S3_CHUNK_SIZE_MB=5

# Postgres SSL
POSTGRES_SSL=false

# AWS
# Optional locally - if not provider pii-hasher and aws secrets manager integration will be disabled
# AWS_ACCESS_KEY_ID=test
# AWS_SECRET_ACCESS_KEY=test
# AWS_SECRETS_MANAGER_ENDPOINT=http://localhost:4566
# AWS_SECRETS_MANAGER_REGION=us-east-1
# PII_HASHER_SECRET_NAME=PII_HASHER_SECRET_JSON_STRING
