NEXT_TELEMETRY_DISABLED=1

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=

BASE_URL=http://localhost:1337
LOGTO_URL=http://localhost:3301
COOKIE_SECRET=

M2M_MANAGEMENT_ID=46ewhh940rn1e29cmecxs
M2M_MANAGEMENT_SECRET=m2m_management_api_local_secret
MANAGEMENT_API=https://default.logto.app/api

LOGTO_M2M_CLIENT_ID=fu9e9khvh1o92hwbl4vyq
LOGTO_M2M_CLIENT_SECRET=m2m_message_support_tool

LOGTO_PLATFORM_ADMIN_RESOURCE=internal://platform-admin
PROFILE_API_RESOURCE_URL="http://localhost:8003/"

OTEL_SERVER_SERVICE_NAME=messaging-support
OTEL_COLLECTOR_URL=http://localhost:4317

POSTGRES_MESSAGING_USER=postgres
POSTGRES_MESSAGING_PASSWORD=postgres
POSTGRES_MESSAGING_HOST=localhost
POSTGRES_MESSAGING_PORT=5432
POSTGRES_MESSAGING_DATABASE=messaging

POSTGRES_PROFILE_USER=postgres
POSTGRES_PROFILE_PASSWORD=postgres
POSTGRES_PROFILE_HOST=localhost
POSTGRES_PROFILE_PORT=5432
POSTGRES_PROFILE_DATABASE=profile

AUDIT_API_URL=http://localhost:8123

ANALYTICS_URL=http://localhost:8075
ANALYTICS_WEBSITE_ID=028c7567-b3a5-fc58-cfa6-c9c796f8b2f3
ANALYTICS_ORGANIZATION_ID=ogcio