POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=scheduler
LOGTO_OIDC_ENDPOINT=http://localhost:3301/oidc
LOGTO_JWK_ENDPOINT=http://localhost:3301/oidc/jwks
LOGTO_API_RESOURCE_INDICATOR=http://localhost:8005
LOG_LEVEL=trace

# Analytics
LOGTO_M2M_ANALYTICS_APP_SECRET=m2m_analytics_api_local_secret
LOGTO_M2M_ANALYTICS_APP_ID=03emabp0dwznxw414mxme
LOGTO_M2M_ANALYTICS_ORGANIZATION_ID=ogcio
LOGTO_M2M_ANALYTICS_SCOPES=analytics:website:tracking
ANALYTICS_WEBSITE_ID=edbf7a74-e071-0b58-3d06-60d0612a68b4
ANALYTICS_URL=http://localhost:8075
ANALYTICS_MATOMO_TOKEN=
ANALYTICS_DRY_RUN=true

# Observability
OTEL_LOG_LEVEL=ERROR
OTEL_SERVER_SERVICE_NAME=upload-api-server
OTEL_COLLECTOR_URL=http://localhost:44317

# Postgres SSL
POSTGRES_SSL=false
