# SERVER

PORT=8003
HOST_URL=http://localhost:8003
LOG_LEVEL=debug

# DATABASE

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=profile
POSTGRES_SSL=false

# LOGTO
LOGTO_WEBHOOK_SIGNING_KEY=webhooks_local_signing_key
LOGTO_JWK_ENDPOINT=http://localhost:3301/oidc/jwks
LOGTO_OIDC_ENDPOINT=http://localhost:3301/oidc
LOGTO_MANAGEMENT_API_CLIENT_ID=46ewhh940rn1e29cmecxs
LOGTO_MANAGEMENT_API_CLIENT_SECRET=m2m_management_api_local_secret
LOGTO_MANAGEMENT_API_ENDPOINT=http://localhost:3301/api
LOGTO_MANAGEMENT_API_RESOURCE_URL=https://default.logto.app/api

# Analytics
LOGTO_M2M_ANALYTICS_APP_SECRET=m2m_analytics_api_local_secret
LOGTO_M2M_ANALYTICS_APP_ID=03emabp0dwznxw414mxme
LOGTO_M2M_ANALYTICS_ORGANIZATION_ID=ogcio
LOGTO_M2M_ANALYTICS_SCOPES=analytics:website:tracking

ANALYTICS_URL=http://localhost:8075
ANALYTICS_WEBSITE_ID=21b07ac6-691a-bc41-31de-6f46e229f8f8
ANALYTICS_DRY_RUN=false

# SCHEDULER

SCHEDULER_BACKEND_URL=http://localhost:8005
LOGTO_M2M_SCHEDULER_APP_SECRET=scheduler_writer_local_secret
LOGTO_M2M_SCHEDULER_APP_ID=bjd8knt92hxslvrfyezp7

# Observability
OTEL_COLLECTOR_URL=http://localhost:4317
OTEL_SERVICE_NAME=profile-api-server
OTEL_LOG_LEVEL=ERROR # values: ALL,VERBOSE,DEBUG,INFO,WARN,ERROR,NONE

# Profiles importer
PROFILES_IMPORTER_BATCH_SIZE=100
PROFILES_IMPORTER_BATCH_DELAY_SECONDS=2

# Feature Flags
FEATURE_FLAGS_URL=http://localhost:4242
FEATURE_FLAGS_TOKEN=default:development.unleash-insecure-api-token

# OTP Login
OTP_APPLICATION_IDS=1qpp7cfssbb4mcrvmfe0c,r5f56tpkytpqyyshiutd2

# Worker
WORKER_INTERVAL_SECONDS=3

# DP PROXY
DP_PROXY_API_BASE_URL=http://localhost:3333
DP_PROXY_WEBHOOK_ACCESS_TOKEN=supersecrettoken

# Audit Collector
AUDIT_COLLECTOR_URL=http://localhost:8123

# Lifecycle Worker
UPLOAD_BACKEND_URL=http://localhost:8008
MESSAGING_BACKEND_URL=http://localhost:8002
LOGTO_M2M_LIFECYCLE_APP_ID=p37qmzp9x7lh5f8nhu3tr
LOGTO_M2M_LIFECYCLE_APP_SECRET=m2m_profile_lifecycle_worker_secret

# AWS
# Optional locally - if not provider pii-hasher and aws secrets manager integration will be disabled
# AWS_ACCESS_KEY_ID=test
# AWS_SECRET_ACCESS_KEY=test
# AWS_SECRETS_MANAGER_ENDPOINT=http://localhost:4566
# AWS_SECRETS_MANAGER_REGION=us-east-1
# PII_HASHER_SECRET_NAME=PII_HASHER_SECRET_JSON_STRING
