BRUNO_PS_BASIC_M2M_TOKEN=token
BRUNO_CITIZEN_BASIC_M2M_TOKEN=token
BRUNO_BASIC_UPLOAD_APP_TOKEN=token
BRUNO_UPLOAD_APP_ID=token
UPLOAD_API_RESOURCE_INDICATOR=http://localhost:8008/
CITIZEN_USER_PROFILE_ID=e2e-user-1
CITIZEN_USER_PROFILE_PPSN=E2E_TEST_USER_1
